   		legend { font-size:18px; margin:0px; padding:10px 0px; color:#000000; font-weight:bold;}
        .prev { float:left;cursor: pointer; cursor: hand;}
        .next { float:right;cursor: pointer; cursor: hand;}
   
        #steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px; cursor:pointer;cursor:hand;}
        #steps li {font-size:24px; float:left; padding:10px; color:#b0b1b3;}
        #steps li span {font-size:11px; display:block; cursor:pointer;cursorhand;}
        #steps li.current { color:#000;}
        #makeWizard { background-color:#b0232a; color:#fff; padding:5px 10px; text-decoration:none; font-size:18px;}
        #makeWizard:hover { background-color:#000;}
	